@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/* Basic */

body {
    background-image: linear-gradient(#3d3d3d,#3d3d3d, #2c2c2c, #3d3d3d);
    margin: 0;
}

hr {
    color:#FFF;
    align-items: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: #28a745;
}

a:hover {
    text-decoration: underline;
    color: #1f8335;
}

/* Header */

#header {
    background: rgba(0, 0, 0, 1);
    height: 3.25em;
    left: 0;
    top: 0;
    line-height: 3.25em;
    position: absolute;
    text-align: right;
    width: 100%;
    
}

    #header > .logo {
        display: inline-block;
        height: inherit;
        left: 1.25rem;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
    }

        #header > .logo a {
            font-size: 1.25rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            color: #FFF;
            text-decoration: none;
        }

            #header > .logo a:hover {
                color: rgba(199, 199, 199, 0.75);
            }

        #header > .logo span {
            font-weight: 400;
            font-size: .8em;
            color: rgba(199, 199, 199, 0.75);
        }

/* Navigation Menu */

#header > a {
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    color: #FFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

    #header > a:hover {
        color: rgba(199, 199, 199, 0.75);
    }

    #header > a[href="#menu"] {
        text-decoration: none;
    }

        #header > a[href="#menu"]:before {
            content: "ïƒ‰";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
            font-size: 1.25em;
        }

        #header > a[href="#menu"]:before {
            margin: 0 0.5em 0 0;
        }

    #header > a + a[href="#menu"]:last-child {
        border-left: solid 1px rgba(0, 0, 0, 0.15);
        padding-left: 1.25em;
        margin-left: 0.5em;
    }

    #header > a:last-child {
        padding-right: 0.5em;
    }

#header.reveal {
    animation: reveal-header 0.5s ease;
}

#header.alt {
    animation: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    position: absolute;
    top: 1.5em;
}

    #header.alt h1 {
        left: 2.5em;
    }

    #header.alt nav {
        right: 2.5em;
    }

/* Menu */

#menu {
    transform: translateX(20rem);
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    background: rgba(0, 0, 0, 1);
    box-shadow: none;
    color: #000;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3rem 2rem;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 12rem;
    z-index: 10002;
}

    #menu > ul {
        margin: 0 0 1rem 0;
    }

        #menu > ul.links {
            list-style: none;
            padding: 0;
        }

            #menu > ul.links > li {
                padding: 0;
            }

                #menu > ul.links > li > a:not(.button) {
                    border: 0;
                    color: rgba(199, 199, 199, 0.75);
                    display: block;
                    line-height: 3.5rem;
                    text-decoration: none;
                    font-size: 1.25em;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 600;
                    text-decoration: none;
                }

                    #menu > ul.links > li > a:not(.button):hover {
                        color: #FFF;
                    }

                #menu > ul.links > li > .button {
                    display: block;
                    margin: 0.5rem 0 0 0;
                }

                #menu > ul.links > li:first-child > a:not(.button) {
                    border-top: 0 !important;
                }

    #menu .close {
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        border: 0;
        color: #999999;
        cursor: pointer;
        display: block;
        height: 3.25rem;
        line-height: 3.25rem;
        padding-right: 1.25rem;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 7rem;
    }

        #menu .close:before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        #menu .close:before {
            content: '\f00d';
            font-size: 1.25rem;
        }

        #menu .close:hover {
            color: #FFF;
        }

    #menu.visible {
        transform: translateX(0);
        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
        visibility: visible;
    }


/* Banner */

.banner-section {
    padding-top: 3.25rem;
}

    .banner-image {
        width: 100%;
        height: 300px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
        position: absolute;
        left: 0;
        right: 0;
        object-fit: cover;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }

    .banner-text {
        position: relative;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        color:#FFF;
        padding-top: 7.033rem;
        padding-bottom: 7.033rem;
    }

/* Grid One */

.grid-one {
    padding-bottom: 10px;
    padding-top: 10px;
}

.grid-heading {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:#FFF;
}

.grid-heading > p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.grid-heading > p > a {
    color: #28a745;
    text-decoration: none;
}

.grid-heading > p > a:hover {
        color: #1f8335;
}


.grid-style {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: stretch;
    padding: 0;
    margin-top: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    list-style: none;
    gap: 2rem;
    
}

    .grid-box > a {
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .grid-box {
        background: rgba(0, 0, 0, 1);
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 2px;
        border-color: #FFF;
        width: 400px;
        min-height: 350px;
        box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Courier New', Courier, monospace;
        display: flex;
    }

    .grid-box:hover {
        background: rgba(0, 0, 0, 0.975);
        border-color: rgba(199, 199, 199, 0.75);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        cursor: pointer;
    }

    .grid-box > a > .box-padding {
        height: auto;
        align-items: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    .grid-box:hover > a > .box-padding {
        color: rgba(199, 199, 199, 0.75);
    }

    .grid-box > a > .grid-see-more {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        text-align: center;
    }

    .grid-box > a > .grid-see-more > p {
        font-size: 1.2rem;
        color: #FFF;
        margin: 0;
    }

    .grid-box:hover > a > .grid-see-more > p {
        color: rgba(199, 199, 199, 0.75);
    }

    .box-padding > .grid-image-guide {
        width: 80%;
        height: 100px;
        object-fit: contain;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .box-padding > .image-fill {
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(199, 199, 199, 0.75);
        width: 80%;
        height: 220px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .box-padding > .image-fill > .grid-image-project {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .box-padding > hr {
        width: 80%;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .grid-box:hover > a > .box-padding > hr {
        color: rgba(199, 199, 199, 0.75);
    }

    .box-padding > h1 {
        padding-top: 10px;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
    }

    .box-padding > p {
        text-align: justify;
        padding-top: 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }

/* Footer */

#footer {
    margin-bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.975);
    display: block;
    padding: 1rem 0 2rem 0;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
    
}

    #footer a {
        color: rgba(199, 199, 199, 0.75);
    }

        #footer a:hover {
            color: #FFF;
        }
    
    #footer .copyright {
        color: rgba(199, 199, 199, 0.75);
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            padding: 0 1rem 0 0;
        }

            ul.icons li:last-child {
                padding-right: 0;
            }

            ul.icons li .icon:before {
                font-size: 2rem;
            }

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

    .icon:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon > .label {
        display: none;
    }           

/* Blog */

.blog {
    padding-top: 0rem;
    align-content: center;
    display: flex;
}

    .blog-flex {
        margin: auto;
    }

    .blog-container {
        background: rgba(0, 0, 0, 1);
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 2px;
        padding: 5px;
        margin: 5%;
        box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Courier New', Courier, monospace;
        display: inherit;
        max-width: 1000px;
    }

        .blog-container > .section.level1 > h1 {
            position: relative;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            color:#FFF;
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .blog-container > .section.level1 > .section.level2 > h1 {
            position: relative;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            color:#FFF;
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .blog-container > .section.level1 > .section.level2 > h2 {
            position: relative;
            text-align: left;
            font-size: 1.1rem;
            font-weight: 600;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 10px;
        }

        .blog-container > .section.level1 > .section.level2 > .portrait-heading {
            position: relative;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 600;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 25px;
            margin-bottom: 10px;
        }

        .blog-container > .section.level1 > .section.level3 > h3 {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 600;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
        }

        .blog-container > .section.level1 > .section.level2 > .section.level3 > h3 {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 600;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 0.25rem;
        }

        .blog-container > .section.level1 > .section.level3 > h4 {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 400;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
        }

        .blog-container > .section.level1 > p {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 400;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 5px;
        }

        .blog-container > .section.level1 > .section.level2 > p {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 400;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 5px;
        }

        .blog-container > .section.level1 > .section.level2 > .section.level3 > p {
            position: relative;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 400;
            color:#FFF;
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 5px;
        }

        .blog-container > .section.level1 > .section.level2 > p > img {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
            height: auto;
            border-radius: 0.25rem;
        }

        .blog-container > .section.level1 > .section.level2 > p > .portrait {
            border-radius: 50%;
            border-style: solid;
            border-width: 0.1rem;
            width: 40%;
        }

/* Contact */

.form-group {
    margin-bottom: 1rem;
}

.form-group > label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 2.5%;
    font-weight: bold;
    color: #FFF;
}

.form-group > input {
    width: 95%;
    align-content: center;
    padding: 0.8rem;
    margin-left: 2.5%;
    border: 1px solid rgba(199, 199, 199, 0.75);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.form-group > textarea {
    resize: vertical;
    width: 95%;
    min-height: 140px;
    padding: 0.8rem;
    margin-left: 2.5%;
    border: 1px solid rgba(199, 199, 199, 0.75);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.form-group > .error-message {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hidden by default */
}

#contactForm > .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    width: 95%;
    padding: 0.75rem;
    margin-left: 2.5%;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

#contactForm > .submit-button:hover {
    background-color: #1f8335;
}